.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 1rem;
  font-weight: bold;
}

.Newimg{
  width: 250px;
  height: 100px;
}

.Box{
margin-top: 50px;
margin-bottom: 50px;
}

.header{
text-decoration: none;
color: white;
font-size: 15px;
font-family: fantasy;
}


.Branco {
  color: white;

}

.banner {
  display: flex;
  justify-content: center;
  background-image: url(../public/pets.png);
  background-position:center;
  background-size:cover;
  height: 670px;
}


  .banner_options {
      height:210px;
      display:flex;
  }
  
  .banner1,
  .banner2,
  .banner3 {
  flex:1;
  color:#ffff;
  padding:20px;
  }
  
  .banner1 {
      background-color: rgba(0, 0, 0, 0.445);
  }

  .banner1 a {
      background-color: rgba(0, 0, 0, 0.445);
  }
  
  .banner2 {
      background-color:rgba(0, 0, 0, 0.445);
  }

  .banner2 a {
      background-color:rgba(0, 0, 0, 0.445);
      margin-top:30px;
  }
  
  .banner3 {
      background-color:rgba(0, 0, 139, 0.644);
  }
  .banner_Friday,
  .banner_Saturday,
  .banner_Sunday {
      display:flex;
      justify-content:space-between;
      margin-top:14px;
      margin-bottom:20px;
      border-bottom:20px;
      border-bottom:1px solid #1c303a;
      padding:6px;
      font-size:12px;
  }
  


  
  .banner_options a {
      display:inline-block;
      border:1px solid #ffff;
      padding: 5px;
      color:#ffff;
      font-size:12px;
      text-decoration: none;
  }





/* Estilos para celular */
@media only screen and (max-width: 767px) {


  .InicioMobile{
    margin-top: 1050px;
  
  }
  

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Top {
  
    margin-top: 30px;
  
  }
  
  .Branco {
    color: white;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    background-image: url(../public/pets.png);
    background-position:center;
    background-size:cover;
    height: 580px;
  }
  

    
    

    
    .banner_options {
     
       
        display:grid;
    }
    
    .banner1,
    .banner2,
    .banner3 {
    flex:1;
    color:#ffff;
    padding:60px;
    }
    
    .banner1 {
        background-color: rgba(0, 0, 0, 0.445);
    }
  
    .banner1 a {
        background-color: rgba(0, 0, 0, 0.445);
    }
    
    .banner2 {
        background-color:rgba(0, 0, 0, 0.445);
    }
  
    .banner2 a {
        background-color:rgba(0, 0, 0, 0.445);
        margin-top:30px;
    }
    
    .banner3 {
        background-color:rgba(0, 0, 139, 0.644);
    }
    .banner_Friday,
    .banner_Saturday,
    .banner_Sunday {
        display:flex;
        justify-content:space-between;
        margin-top:44px;
        margin-bottom:20px;
        border-bottom:20px;
        border-bottom:1px solid #1c303a;
        padding:6px;
        font-size:15px;
    }
    
  
  
    
    .banner_options a {
        display:inline-block;
        border:1px solid #ffff;
        padding: 5px;
        color:#ffff;
        font-size:12px;
        text-decoration: none;
    }
  


}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .InicioMobile{
    margin-top: 650px;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Top {
  
    margin-top: 30px;
  
  }
  
  .Branco {
    color: white;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    background-image: url(../public/pets.png);
    background-position:center;
    background-size:cover;
    height: 770px;
  }
  

    
    

    
    .banner_options {
        height:210px;
        display:grid;
    }
    
    .banner1,
    .banner2,
    .banner3 {
    flex:1;
    color:#ffff;
    padding:60px;
    }
    
    .banner1 {
        background-color: rgba(0, 0, 0, 0.445);
    }
  
    .banner1 a {
        background-color: rgba(0, 0, 0, 0.445);
    }
    
    .banner2 {
        background-color:rgba(0, 0, 0, 0.445);
    }
  
    .banner2 a {
        background-color:rgba(0, 0, 0, 0.445);
        margin-top:30px;
    }
    
    .banner3 {
        background-color:rgba(0, 0, 139, 0.644);
    }
    .banner_Friday,
    .banner_Saturday,
    .banner_Sunday {
        display:flex;
        justify-content:space-between;
        margin-top:44px;
        margin-bottom:20px;
        border-bottom:20px;
        border-bottom:1px solid #1c303a;
        padding:6px;
        font-size:15px;
    }
    
  
  
    
    .banner_options a {
        display:inline-block;
        border:1px solid #ffff;
        padding: 5px;
        color:#ffff;
        font-size:12px;
        text-decoration: none;
    }
}
